/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  background-color: aliceblue;
}

h1 {
  font-size: 30px;
  color: grey;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.username-div {
  margin: 10% auto;
}

.username-input {
  border: none;
  border-bottom: 1px solid grey;
  background-color: aliceblue;
  text-align: center;
  width: 50%;
  font-size: large;
  font-weight: 500;
}

.username-continue-button {
  border: none;
  background-color: aliceblue;
}

.message-input {
  border: none;
  border-bottom : 1px solid grey;
  background-color: aliceblue;
  text-align: center;
  width: 50%;
  margin: 10px;
}

.send-button {
  border: none;
  background-color: aliceblue;
}

.messages-div {
  background-color: aliceblue;
  margin: 0 15%;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  height: 600px;
  min-height: 0;
  overflow: auto;
}

.received-message {
  background-color: lightgrey;
  padding: 5px;
  margin: 5px 0% 5px 1%;
  border-radius: 2px;
  word-break: break-word;
  display: grid; 
  grid-template-columns: 2fr 1fr;
  align-self: flex-start;
}

.received-message-username {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.received-message-message {
  margin-left: 5%;
  text-align: left;
  grid-row-start: 2;
  grid-row-end: 3;
}

.received-message-edited {
  font-size: 10px;
  text-align: right;
}

.received-message-time {
  font-size: 10px; 
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.sent-message {
  align-self: flex-end;
  display: grid;
  grid-template-columns: auto auto;
}

.sent-message-area {
  background-color: rgb(159, 205, 222);
  margin: 5px 0;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.sent-message-message {
  padding: 5px;
  word-break: break-word;
  display: flex;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

.sent-message-edited {
  padding: 5px;
  font-size: 10px;
  grid-column-start: 2;
  grid-column-end: auto;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
}

.sent-message-time {
  padding: 5px;
  font-size: 10px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

/* .sent-message-area:hover {
  transform: translateX(-10%);
} */

/* .sent-message-area:hover + .delete-edit-div {
  display:flex;
  align-items: center;
} */

.delete-edit-div {
  /* display: none; */
  display: flex;
  align-items: center;
}

.delete-button {
  border:none;
  background-color: aliceblue;
}

.edit-button {
  border: none;
  background-color: aliceblue;
}

.editing-text {
  background-color: rgb(255,238,198);
  margin: 0 25%;
  border-radius: 2px;
}